*.iml
.gradle
/local.properties
/.note/caches
/.note/libraries
/.note/modules.xml
/.note/workspace.xml
/.note/navEditor.xml
/.note/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
